# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Project Specific
comments.txt
stats.json

# Environment variables
.env

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
